<div id="<%= dom_id game %>" class="card my-3">
  <div class="card-body">
    <h5 class="card-title"><%= game.name %></h5>
    <p class="card-text">
      <% if session[:user_type] %>
        <%= @game.subs.first.creator_word %>
      <% else %>
        <%= @game.subs.first.joiner_word %>
      <% end %>
    </p>
  </div>
</div>
