<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>
  <% if session[:user_type] %>
    <%= @game.subs.first.creator_word %>
  <% else %>
    <%= @game.subs.first.joiner_word %>
  <% end %>

</div>
