<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="text-green" role="alert">
        <%= notice %>
      </div>

      <%= render @game %>

    </div>
  </div>
</div>
