<p style="color: green"><%= notice %></p>

<h1>Subs</h1>

<div id="subs">
  <% @subs.each do |sub| %>
    <%= render sub %>
    <p>
      <%= link_to "Show this sub", sub %>
    </p>
  <% end %>
</div>

<%= link_to "New sub", new_sub_path %>
